li.active{
    border-radius: 3rem;
    border: 2px solid #0E7A81;
    background-color: rgba(14, 122, 129, 0.1);
}
button.liked{
    background-color: rgba(14, 122, 129, 0.15);
}
button.adopted{
    background-color: rgba(14, 122, 129, 0.3);
}
.cards-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media screen and (max-width: 375px) {
    .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}